:root {
    --black: #000000;
    --white: #faf0e6;
    --primary: #3cde5a;
    --secondary: #003F91;
    --primShade: #00530F;
    --secondShate: #5DA9E9;
    --tertiary: #F46262; 
  }

/* font */
.logo{
    color: var(--primary);
    text-shadow:
    1px 1px 2px var(--secondary),
    -1px 1px 0 var(--secondary),
    -1px -1px 2px var(--secondary),
    1px -1px 0 var(--secondary);
}

/* nav bar */
nav {
    background-color: var(--secondary);
    text-align: center;
    padding: .001em;
  }
  
  li {
    display: inline;
    padding: .5em;
  }
  
  li a {
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--white);
    font-size: 1.3em;
  }
  
  li a:hover {
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 1.3em;
  }

